@import "./constants/fonts";
@import "./constants/functions";

.sk-wave {
  width: 18.750em !important;
  height: 18.750em !important;
  position: relative !important;
  div {
    width: 3.750em !important;
  }
}

.avatar-cells-home {
  img {
    min-height: 40px !important;
  }
}

.welcome-message {
  position: relative;
  top: 200px;
  @include display(flex, 1, center);
  color: #ffffff;
  opacity: 0.8;
  font-size: 48px;
  z-index: 2;
  text-align: center;
  padding: 10px;

  @media screen and (max-width: 1100px) {
    top: 150px
  }

  @media screen and (max-width: 750px) {
    display: none
  }

}

.welcome-login-button {
  position: relative;
  bottom: 250px;
  @include display(flex, 1, center);
  @media screen and (max-width: 1100px) {
    bottom: 175px
  }

  @media screen and (max-width: 750px) {
    display: none
  }
}

.section-title-news-authenticated {
  @include font("", "", bold, "", 60px, "", $Roboto, "");
  @include padding(90px);
  @include box-sizing(border-box);
  @include textAlign(center);
  color: black;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }
}

.section-title-news {
  @include font("", "", bold, "", 60px, "", $Roboto, "");
  @include padding(90px);
  @include box-sizing(border-box);
  @include textAlign(center);
  color: black;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }
}

.section-title-authenticated {
  @include font("", "", bold, "", 60px, "", $Roboto, "");
  @include padding(90px);
  @include box-sizing(border-box);
  @include textAlign(center);
  color: black;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }
}

.section-title {
  @include font("", "", bold, "", 60px, "", $Roboto, "");
  @include padding(90px);
  @include box-sizing(border-box);
  @include textAlign(center);
  color: black;
  opacity: 0.8;

  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }

  @media screen and (max-width: 750px) {
    margin-top: 0;
  }

}

.container-home {
  @include background-color(#f4f7f6);

  .news-desktop {
    @include display(flex, 1, center);
    @media screen and (max-width: 1200px) {
      @include display(none);
    }
    padding: 10px;

    ul {
      @include display(flex, 1, center);
      margin: 0;
      padding: 0;
      flex-direction: row;
      list-style: none;
      height: auto;

      li {
        width: 33%;
        height: 100%;
        padding: 10px;
        @include box-sizing(border-box);
      }

    }
  }

  .comments-cancel-padding {
    padding-top: 0;
    padding-bottom: 0
  }
}

// used only for collections
.news-mobile {
  @media screen and (min-width: 1200px) {
    @include display(none);
  }
  display: block;
  @include widthAndHeight(100%, 100%);
  ul {
    @include box-sizing(border-box);
    @include display(flex, "", center);
    @include padding(30px);
    @include widthAndHeight(100%, "auto");
    list-style: none;
    flex-direction: column;

    li {
      @include widthAndHeight(100%, "auto");
      @include box-sizing(border-box);
      @include padding(10px);
      @include background-color(#ffffff);
      img {
        @include widthAndHeight("auto", "auto");
        min-height: 180px;
      }
    }
  }
}

// used only for news
.news-mobile-cancel {
  display: block;
  @include background-color(#f4f7f6);
  @include widthAndHeight(100%, 100%);
  ul {
    @include background-color(#f4f7f6);
    @include box-sizing(border-box);
    @include display(flex, "", center);
    @include padding(30px);
    @include widthAndHeight(100%, "auto");
    list-style: none;
    flex-direction: column;

    li {
      @include background-color(#f4f7f6);
      @include widthAndHeight(100%, "auto");
      @include box-sizing(border-box);
      @include padding(10px);
      img {
        @include widthAndHeight("auto", "auto");
        min-height: 180px;
      }
    }
  }
}

.buttons-home-view {
  @include display(flex, 1, center);
  padding-bottom: 20px;
}
