@import './constants/functions';

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
  overflow-x: hidden;
  overflow-y: hidden;
}

body, html, main {
  @include widthAndHeight("auto", 100%);
}

.top-bar-spacing {
  @include widthAndHeight(auto, 50px);
  @media screen and (min-width: 1271px) {
    display: none;
  }
}

.background-home {
  background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
}

.appBar {
  background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
}

.score {
  background: linear-gradient(to right, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%);
  color: gray;
  border-radius: 10px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
  :hover {
    color: grey;
  }
}

.loading-style {
  @include display(flex, 1, center);
  @include padding(50px);
  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }
}

.error-message {
  display: flex;
  justify-content: center;
  color: red;
}

.success-message {
  padding: 0 16px;
  color: deepskyblue;
}