@import "./partials/appBar";
@import './constants/functions';

.force-picture {
  background-image: url("https://image.freepik.com/free-photo/green-garden_2318088.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
}

.background-home {
  background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
}

.appBar {
  background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%);
}

.score {
  background: linear-gradient(to right, rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%);
  color: gray;
  border-radius: 10px;
  padding: 20px;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-bar-spacing {
  @include widthAndHeight(auto, 50px);
  @media screen and (min-width: 1271px) {
    display: none;
  }
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.4s;
  :hover {
    color: grey;
  }
}

.loading-style {
  @include display(flex, 1, center);
  @include padding(50px);
  @media screen and (max-width: 1200px) {
    @include padding(30px);
  }
}

.error-message {
  display: flex;
  justify-content: center;
  color: red;
}

.success-message {
  padding: 0 16px;
  color: deepskyblue;
}

.heart-and-tags-container {
  @include display(flex, 0, space-between);
  @include box-sizing(border-box);
  padding: 8px;

  @media screen and (max-width: 1200px) {
    display: block;
  }
}

.tags-container {
  display: block;
  @include box-sizing(border-box);
  padding: 8px;
  max-width: 100%;
}

.heart-red-color {
  svg {
    fill: red !important;
  }
  @include display(flex, 0, flex-start);
  @media screen and (max-width: 1200px) {
    display: block;
    flex: 0;
    justify-content: flex-start;
  }
}

.add {
  color: #ffffff !important;
  opacity: 0.3 !important;
  background-color: #000000 !important;
  width: 40px !important;
  height: 40px !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 60px !important;
  border-radius: 5px !important;
  border: none !important;
  cursor: pointer !important;
  z-index: 9000;

  &:hover {
    opacity: 1 !important;
  }
}

.scroll {
  color: #ffffff !important;
  opacity: 0.3 !important;
  background-color: #000000 !important;
  width: 40px !important;
  height: 40px !important;
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  cursor: pointer !important;
  z-index: 9000;

  &:hover {
    opacity: 1 !important;
  }
}