@import "../constants/functions";
@import "../constants/fonts";

.header {
  @include display(flex, 1);
  .left {

  }
  .right {
    @include display(flex, 1, flex-end);
  }
}

.active-link-className {
  text-decoration: none;
  color: #a5393b !important;
  transition: .2s all ease;
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -ms-transition: .2s all ease;
  -o-transition: .2s all ease;
}

.hidden {
  transition: top 0.3s;
  top: -64px;
}

//----------------------

.logo-wrap-desktop {
  @include display(flex, 1, center);

  .logo {
    max-width: 200px !important;
    max-height: 200px;
  }

  @media screen and (max-width: 1270px) {
    display: none;
  }
}

.top-bar-actions-desktop {
  @include display(flex, 1, center);
  @include box-sizing(border-box);
  @include padding(25px, 25px, 25px, 25px);

  @media screen and (max-width: 1270px) {
    display: none;
  }

  .top-bar-left-actions {
    @include display(flex, 1, flex-end);
  }

  .top-bar-right-actions {
    @include display(flex, 1, flex-start);
  }
}

.top-bar-search {
  hr {
    display: none;
  }
  padding: 0 !important;
  padding-left: 50px !important;
  border: 1px solid gray;
  border-radius: 40px;
}

.top-bar-actions-mobile {
  position: fixed !important;

  @media screen and (min-width: 1271px) {
    display: none !important;
  }
}

.top-bar-search-mobile {
  padding: 0 !important;
  padding-left: 50px !important;
  padding-right: 10px !important;
}

.header {
  margin-bottom: 0;
  border-radius: 0;
  background: rgb(165, 57, 59);
  display: flex;
  justify-content: center;
  flex: 1;
  z-index: 99999;
  width: 100%;
  @media screen and (max-width: 1200px) {
    display: block;
  }
  .header-logo {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .header-navigation {
    display: flex;
    justify-content: center;
    flex: 1;
    .search-container {
      margin-top: 42px;
      @media screen and (max-width: 1200px) {
        margin-top: 0;
        padding-bottom: 15px;
      }
      .search-form {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
        input[type='search']::-webkit-input-placeholder {
          color: #f4f7f6;
          opacity: 0.7;
        }
        input:focus {
          outline: #9a3537 solid 2px;
          background: rgba(255, 255, 255, .1);
        }
        input[type='search']::-webkit-search-cancel-button {
          display: none;
        }
        .search-input {
          background: rgba(255, 255, 255, .05);
          font-weight: lighter;
          position: relative;
          top: 1px;
          border-radius: 0;
          min-width: 290px;
          border: none;
          color: #fff;
          padding: 10px 15px;
          outline: transparent solid 2px;
          transition: .4s background ease;
          -webkit-transition: .4s background ease;
          -moz-transition: .4s background ease;
          -ms-transition: .4s background ease;
          -o-transition: .4s background ease;
        }
      }
    }
  }
}

.site-navigation {
  @media screen and (max-width: 850px) {
    display: none;
  }
  float: none;
  clear: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  background: #fff;
  z-index: 99999;
  .nav-container {
    position: relative;
    top: -2px;
    max-width: 1130px;
    padding: 0;
    border-bottom: solid 1px rgba(217, 217, 217, .5);
    display: block;
    margin: auto;
    width: 1130px;
    @media screen and (max-width: 1200px) {
      width: 970px;
    }
    @media screen and (max-width: 992px) {
      width: 750px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-list {
      display: flex;
      justify-content: center;
      .nav-row {
        padding: 16px 0 16px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .nav-item {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 16px;
          color: grey;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
          font-size: 14px;
          background: 0 0;
          height: 100%;
        }
        .nav-item:hover {
          @media screen and (min-width: 1024px) {
            transition: .2s all ease;
            -webkit-transition: .2s all ease;
            -moz-transition: .2s all ease;
            -ms-transition: .2s all ease;
            -o-transition: .2s all ease;
            color: #ffffff !important;
            background: #333;
          }
        }
      }
    }
  }
}

.active-link-className-mobile {
  text-decoration: none;
  color: #a5393b !important;
  transition: .2s all ease;
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -ms-transition: .2s all ease;
  -o-transition: .2s all ease;
}

.mobile-navigation {
  @media screen and (min-width: 851px) {
    display: none;
  }
  float: none;
  clear: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  z-index: 99999;
  .mobile-container {
    display: block;
    text-align: center;
    .mobile-menu-icon-wrap {
      background: #a5393b;
      padding: 12px 0 0 0;
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      height: auto;
      transition: ease .4s;
      -webkit-transition: ease .4s;
      -moz-transition: ease .4s;
      -ms-transition: ease .4s;
      -o-transition: ease .4s;
      opacity: 0;
      position: relative;
      top: -1150px;
      ul {
        list-style: none;
        margin: 0;
        padding: 20px 0;
        background-image: none !important;
        display: block;
        width: auto;
        height: auto;
        float: none;
        visibility: visible;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        text-align: left;
        clear: both;
        -webkit-border-radius: 0;
        border-radius: 0;
        opacity: 1;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
      .mobile-list {
        > li:first-child {
          border-top: 0;
          padding: 0 0 10px 30px;
        }
        > li:last-child {
          padding: 10px 0 0 30px;
        }
        .mobile-row {
          border-top: 1px solid gainsboro;
          background-image: none !important;
          display: block;
          width: auto;
          height: auto;
          float: none;
          margin: 0;
          visibility: visible;
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          text-align: left;
          clear: both;
          -webkit-border-radius: 0;
          border-radius: 0;
          opacity: 1;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 10px 0 10px 30px;
          a {
            padding: 10px 0 10px 30px;
          }
          > a:first-child {
            padding: 0 0 10px 30px;
          }
          > a:last-child {
            padding: 10px 0 0 30px;
          }
        }
      }
    }
  }
}

.material-icons.white1000 {
  color: #ffffff
}