.header {
  display: flex;
  flex: 1;
  justify-content: ""; }
  .header .right {
    display: flex;
    flex: 1;
    justify-content: flex-end; }

.active-link-classname {
  text-decoration: none;
  border-bottom: 1px solid gray; }

.hidden {
  transition: top 0.3s;
  top: -64px; }

.logo-wrap-desktop {
  display: flex;
  flex: 1;
  justify-content: center; }
  .logo-wrap-desktop .logo {
    max-width: 200px !important;
    max-height: 200px; }
  @media screen and (max-width: 1270px) {
    .logo-wrap-desktop {
      display: none; } }

.top-bar-actions-desktop {
  display: flex;
  flex: 1;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 25px 25px 25px; }
  @media screen and (max-width: 1270px) {
    .top-bar-actions-desktop {
      display: none; } }
  .top-bar-actions-desktop .top-bar-left-actions {
    display: flex;
    flex: 1;
    justify-content: flex-end; }
  .top-bar-actions-desktop .top-bar-right-actions {
    display: flex;
    flex: 1;
    justify-content: flex-start; }

.top-bar-actions-button-style {
  padding: 0 10px 0 10px ; }

.top-bar-search {
  padding: 0 !important;
  padding-left: 50px !important;
  border: 1px solid gray;
  border-radius: 40px; }
  .top-bar-search hr {
    display: none; }

.top-bar-actions-mobile {
  position: fixed !important; }
  @media screen and (min-width: 1271px) {
    .top-bar-actions-mobile {
      display: none !important; } }

.top-bar-search-mobile {
  padding: 0 !important;
  padding-left: 50px !important;
  padding-right: 10px !important; }

html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  margin: 0;
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
  overflow-x: hidden;
  overflow-y: hidden; }

body, html, main {
  width: auto;
  height: 100%; }

.top-bar-spacing {
  width: auto;
  height: 50px; }
  @media screen and (min-width: 1271px) {
    .top-bar-spacing {
      display: none; } }

.background-home {
  background: linear-gradient(135deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); }

.appBar {
  background: linear-gradient(135deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); }

.score {
  background: linear-gradient(to right, #b4df5b 0%, #b4df5b 100%);
  color: gray;
  border-radius: 10px;
  padding: 20px; }

a {
  text-decoration: none;
  color: black;
  transition: color 0.4s; }
  a :hover {
    color: grey; }

.loading-style {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 50px   ; }
  @media screen and (max-width: 1200px) {
    .loading-style {
      padding: 30px   ; } }

.error-message {
  display: flex;
  justify-content: center;
  color: red; }

.success-message {
  padding: 0 16px;
  color: deepskyblue; }

.sk-wave {
  width: 18.750em !important;
  height: 18.750em !important;
  position: relative !important; }
  .sk-wave div {
    width: 3.750em !important; }

.container-login {
  padding: 0 256px 64px 256px;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 500px; }
  @media screen and (max-width: 1200px) {
    .container-login {
      min-height: 400px;
      padding: 1em   ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

.button-login-signup {
  padding: 10px 0 0 0;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 100%; }

.content-login {
  margin: auto;
  margin-right: "";
  margin-top: auto;
  margin-bottom: "";
  margin-left: "";
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-direction: column;
  color: #000000; }

.login-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 3em;
  opacity: 0.8; }
  @media screen and (max-width: 1200px) {
    .login-header {
      font-size: 2em; } }

.container-signup {
  padding: 0 256px 64px 256px;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 500px; }
  @media screen and (max-width: 1200px) {
    .container-signup {
      min-height: 400px;
      padding: 1em   ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

.button-login-signup {
  padding: 10px 0 0 0;
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 100%; }

.content-signup {
  margin: auto;
  margin-right: "";
  margin-top: auto;
  margin-bottom: "";
  margin-left: "";
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-direction: column;
  color: #000000; }

.signup-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Roboto, 'sans-serif';
  font-size: 3em;
  opacity: 0.8; }
  @media screen and (max-width: 1200px) {
    .signup-header {
      font-size: 2em; } }

/*# sourceMappingURL=main.css.map */
